[submodule ".registry"]
	path = .registry
	url = https://github.com/opensafely-core/opensafely-core.r-universe.dev
	branch = HEAD
[submodule "dd4d"]
	path = dd4d
	url = https://github.com/wjchulme/dd4d
[submodule "osutils"]
	path = osutils
	url = https://github.com/wjchulme/osutils
[submodule "vscDebugger"]
	path = vscDebugger
	url = https://github.com/ManuelHentschel/vscDebugger
